package {{{packagePath}}};

import com.vcg.mybatis.example.starter.EnableMybatisRepository;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.annotation.EnableAspectJAutoProxy;
import org.springframework.transaction.annotation.EnableTransactionManagement;


@EnableAspectJAutoProxy(proxyTargetClass = true, exposeProxy = true)
@EnableMybatisRepository(basePackages = "{{{packagePath}}}.repository")
@EnableTransactionManagement
@SpringBootApplication
public class Application {

    public static void main(String[] args) {
        SpringApplication.run(Application.class, args);
    }

}
