package {{{packagePath}}}.repository;

import com.vcg.mybatis.example.starter.MybatisCrudRepository;
import {{{packagePath}}}.domain.{{{modelName}}};
import {{{packagePath}}}.domain.{{{modelName}}}Example;

public interface {{{modelName}}}Repository extends MybatisCrudRepository<{{{modelName}}}, {{{primaryField.fieldType}}}, {{{modelName}}}Example> {

}
