package {{{packagePath}}}.service;


import {{{packagePath}}}.domain.{{modelName}};
import {{{packagePath}}}.repository.{{modelName}}Repository;

import org.springframework.stereotype.Service;

import lombok.extern.slf4j.Slf4j;
import lombok.RequiredArgsConstructor;


@RequiredArgsConstructor
@Slf4j
@Service
public class {{{modelName}}}Service {

    private final {{{modelName}}}Repository {{{lowerModelName}}}Repository;

}
